<% title="Songs By Sinatra" %>
<!doctype html>
<html lang="en">
<head>
	<title><%= @title %></title>
	<meta charset="utf-8">
	<%= css :styles %>
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" media="screen, projection" rel="stylesheet"></link>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="/js/application.js"></script>
</head>
<body>
	<header>
		<h1>Songs By Sinatra</h1>
	</header>
	<%= erb :nav %>
	<section>
	  <%= styled_flash %>
		<%= yield %>
	</section>
	<footer>
		<% if authorized? %>
			<a href="/logout">Log Out</a>
		<% else %>
			<a href="/login">Log In</a>
		<% end %>
	</footer>
</body>
</html>
